<header class="header">
  <div class="container header__container">
    <a href="./#hero" class="logo">
      <span class="logo__dot"></span> Rho-Form
    </a>

    <nav class="nav">
      <ul class="nav__list">
        <li><a href="./#about" class="nav__link">О платформе</a></li>
        <li><a href="./#tech" class="nav__link">Технологии</a></li>
        <li><a href="./#academy" class="nav__link">Обучение</a></li>
        <li><a href="./#innovations" class="nav__link">Инсайты</a></li>
      </ul>
    </nav>

    <div class="header__actions">
      <a href="./#contact" class="btn btn--header">Связаться</a>
      <button class="menu-toggle" aria-label="Toggle Menu">
        <span></span>
        <span></span>
      </button>
    </div>
  </div>
</header>
<div class="mobile-menu">
  <div class="mobile-menu__inner">
    <nav class="mobile-nav">
      <ul class="mobile-nav__list">
        <li><a href="./#about" class="mobile-nav__link">О платформе</a></li>
        <li><a href="./#tech" class="mobile-nav__link">Технологии</a></li>
        <li><a href="./#academy" class="mobile-nav__link">Обучение</a></li>
        <li><a href="./#innovations" class="mobile-nav__link">Инновации</a></li>
        <li><a href="./#contact" class="mobile-nav__link">Связаться</a></li>
      </ul>
    </nav>
    <div class="mobile-menu__footer">
      <p>hello@rho-form.fit</p>
    </div>
  </div>
</div>